.container
{
    position: relative;
    width: 575px;
    height: 385px;
    background: #1B244A;
    border-radius: 6%;
    border-color: aliceblue;
    border-width: 3px;
}

.home
{
    
position: absolute;
width: 149px;
height: 36px;
left: 85px;
top: 30px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;

}

.guest
{
    
position: absolute;
width: 149px;
height: 36px;
left: 340px;
top: 30px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;

}

.score1
{
position: absolute;
width: 155px;
height: 120px;
left: 5px;
top: 125px;
background-color: black;

}

.score2
{
    
position: absolute;
width: 155px;
height: 120px;
left: 12px;
top: 125px;
background-color: black;
}

#hscore
{
    position: relative;
width: 117px;
height: 120px;
left: 18px;

bottom: 68px;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
/* or 141% */

text-align: center;

color: #F94F6D;
}

#gscore
{
    
position: relative;
width: 117px;
height: 120px;
left: 22px;
bottom: 68px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
/* or 141% */

text-align: center;

color: #F94F6D;
}

.hplus1
{
    box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 10px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}
.hplus2
{
    box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 65px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}
.hplus3
{
    box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 120px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}

.gplus1
{
    box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 18px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}
.gplus2
{
    box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 73px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}
.gplus3
{
    box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 128px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}

